@import "../../assets/scss/vars";

.form-box {
  .content {
    height: 100%;
  }

  .left {
    width: 200px;
    height: 100%;
    padding: 45px 0 45px 45px;

    .logo {
      width: 100px;
    }

    button {
      background: $ter;
      padding: 10px 15px !important;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;

      &:last-of-type {
        color: $pri;
        margin-top: 20px;
      }
    }
  }

  .right {
    width: calc(100% - 200px);
    height: 100%;
    padding: 45px;

    label {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 10px;
      padding-left: 20px;
    }

    input,
    select {
      width: 100%;
      background: $sec;
      border-radius: 10px;
      padding: 15px 20px !important;
      color: $ter;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 30px;

      &::placeholder {
        color: $ter;
      }
    }

    .input-add {
      width: calc(100% - 68px);
      margin-right: 10px;
      margin-bottom: 0px;
    }

    .add-whot {
      width: 58px;
      background: $ter;
      padding: 15px;
      border-radius: 10px;
    }

    ul {
      width: 100%;

      li {
        background: $ter;
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      p {
        width: calc(100% - 35px);
        font-size: 24px;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      span img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}
