@import "../../assets/scss/vars";

.menu-box {
  .top {
    padding: 45px;

    .logo {
      width: 100px;
    }

    .reload {
      width: 40px;
      animation: rotate180 0.5s;
    }
  }

  .slider {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 45px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;

    .wrapper {
      display: inline-block;
      margin-right: 20px;
    }

    .fix {
      display: inline-block;
      min-width: 20px;
      height: 150px;
    }

    .card {
      position: relative;
      width: 45vh;
      height: 45vh;
      background: $sec url("../../assets/img/box-bg.svg") no-repeat right;
      background-size: contain;
      overflow: hidden;
      border-radius: 10px;
      padding: 10px;

      img {
        width: 75px;
        height: 75px;
        object-fit: contain;
        margin-bottom: 10px;
      }

      p {
        position: absolute;
        bottom: 10px;
      }
    }

    .add-card {
      background: $ter;
      color: #fff;
    }
  }
}
