@import "../../assets/scss/vars";

.menu-box {
    .logo {
        width: 140px;
        padding: 40px 0 0 40px;
    }

    .slider {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50%;
        display: inline-flex;
        padding: 10px 40px 40px 40px;
        overflow-x: scroll !important;
        overflow-y: hidden;

        .add-card {
            background: $ter !important;
            color: #fff;
        }
        
        .card {
            position: relative;
            width: 150px;
            height: 150px;
            background: $sec url("../../assets/img/box-bg.svg") no-repeat right;
            background-size: contain;
            overflow: hidden;
            border-radius: 10px;
            margin-right: 20px;
            padding: 10px;

            img {
                width: 60px;
                margin-bottom: 10px;
            }

            p {
                position: absolute;
                bottom: 10px;
            }
        }
    }
}