@import "../../assets/scss/vars";

.game-box {
  .topbar {
    padding: 25px;

    .type,
    .close {
      width: 55px;
      height: 55px;
      background: $ter;
      border-radius: 10px;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }

    #timer {
      color: #fff;
      font-weight: bold;
      font-size: 35px;
    }
  }

  .content {
    width: calc(90% - 90px);
    height: calc(90% - 105px);
    margin: 0 auto;
    background: url("../../assets/img/message.svg") no-repeat center;
    background-size: contain;
    padding-bottom: 5%;

    h1 {
      width: 90%;
      @include type(40, 50);
      font-weight: 900;
      text-align: center;
      line-height: 1;
    }
  }

  .acc {
    position: fixed;
    bottom: 25px;
    left: 0;
  }
}
